<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boogybook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/404.css">
</head>

<body>
    <header>
        <div class="container">
            <button class="menu-toggle"><img src="img/menu-toggle.png" alt="Menu Toggle"></button>
            <div class="logo"><img src="img/logo.png" alt=""></div>
        </div>
    </header>
    <nav class="side-menu">
        <div class="nav-logo">
            <img src="img/logo.png" alt="">
        </div>
        <ul class="menu-list">
            <li id="mon-compte"><a href="#">Mon compte</a></li>
            <li id="panier"><a href="#">Panier</a></li>
        </ul>

        <ul class="menu-list bottom">
            <li id="faq"><a href="#">FAQ</a></li>
            <li id="contact"><a href="#">Contact</a></li>
        </ul>

        <div class="langue-select-box">
            <select name="langue-select" id="langue-select" class="dropdown">
                <option value="fr">Français</option>
                <option value="eng">English</option>
                <option value="spa">Spanish</option>
            </select>
        </div>
    </nav>

    <div class="no-connection">
        <img src="img/warning.svg" alt="">
        <b>Whoops!</b><br />
        <span>Connexion internet lente ou pas de connexion internet. <br /> Veuillez vérifier vos paramètres Internet.</span>
    </div>

    <button class="shopping-cart">
        <img src="img/shopping-bag.svg" alt="">
        <div class="counter">0</div>
    </button>

    <div class="overlay"></div>

    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/404.js"></script>
</body>

</html>