<link rel="stylesheet" href="css/cart.css">
    <div class="payment-block">
        <div class="container">
            <div class="go-back" ui-sref="home">ACCUEIL</div>


            <div class="checked-icon">
                <img src="img/checked.svg" alt=""> <br /><span>Paiement accepté</span>
            </div>
            <div class="btn-group-bottom">
                <button class="btn-retour" ui-sref="myAccount">
                    Retour à votre compte
                </button>
                <button class="btn-home" ui-sref="home"> 
                    ACCUEIL
                </button>
            </div>

        </div>

    </div>
    <button class="shopping-cart" ng-click="doCheckout()">
        <img src="img/shopping-bag.svg" alt="">
        <div class="counter">0</div>
    </button>

    <div class="overlay"></div>
