<link rel="stylesheet" href="css/faq.css">
<link rel="stylesheet" href="js/faq.js">
<div class="container">
    <h1>FAQ</h1>
    <div class="accordion">
        <dl>
            <dt>
              <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Qu’est-ce que BoogyBook ?</a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    C’est un livret 10,5x15 cm où vous rassemblerez vos 60 photos préférées (une par page). Pour chaque photo, vous choisissez le nombre d’exemplaires, et chacune est facilement détachable grâce à une micro perforation. Extraordinaire pour partager ses souvenirs
                    avec la famille et les amis !
                </p>
                <p>
                    La couverture de votre BoogyBook change tous les mois, vous vous constituerez rapidement une superbe bibliothèque.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->
            <dt>
              <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                Classic ou Notebook ?</a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <p>
                    BoogyBook vous offre le choix entre deux modèles : <br />- Classic : 60 photos format 10x15cm <br />- Notebook : Un format carré 9x9 cm de type Polaroid, et la possibilité d’ajouter un texte.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->
            <dt>
              <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                    Comment créer mon BoogyBook ?
              </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                <p>
                    Vous disposez de l’application BoogyBook (IOS et ANDROID) et du site www.BoogyBook.com. Avec votre identifiant et votre mot de passe, vous pouvez très facilement créer votre BoogyBook en utilisant TOUTES VOS PHOTOS, qu’elles soient dans votre smartphone,
                    votre tablette, votre ordinateur ou même sur un disque dur ou dans le Cloud. <br />Pas de limite au rassemblement de vos meilleurs souvenirs ! <br /> Si vous utilisez un support Apple (iMac, Ipad, Iphone), vous
                    pouvez sélectionner jusqu'à 60 photos en même temps.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->
            <dt>
                <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                    Puis je commander plusieurs BoogyBook en même temps ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
                <p>
                    Bien sûr, pratique pour offrir !
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                    Que se passe-t-il si je télécharge moins de 60 photos ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
                <p>
                    Vous ne pouvez pas commander moins de 60 photos. Pour compléter votre BoogyBook ajoutez des photos ou demandez des copies multiples.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                    Que faites-vous de mes informations sur ma carte de crédit ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
                <p>
                    Pas d’inquiétude ! Celles-ci sont conservées chez un tiers de confiance très sécurisé, INGENICO, leader mondial des solutions de payement fixes et mobiles. Chez BoogyBook, nous n'en avons pas connaissance.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">
                    Mes coordonnées sont-elles confidentielles ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
                <p>
                    BoogyBook s'engage à traiter toutes les informations vous concernant avec la plus stricte confidentialité. Vous disposez d'un droit d'accès, de rectification et de suppression aux informations vous concernant. Si vous souhaitez exercer ce droit, connectez-vous
                    à votre compte.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion8" aria-expanded="false" aria-controls="accordion8" class="accordion-title accordionTitle js-accordionTrigger">
                    Et la qualité ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion8" aria-hidden="true">
                <p>
                    BoogyBook est imprimé sur les dernières imprimantes numériques et son emballage le protège des risques du transport.<br /><br /> En cas de problème, vous bénéficiez en plus de notre garantie de 30 jours de remplacement gratuit.<br
                    /> Vous nous retournez votre BoogyBook avec vos observations et nous le réimprimerons entièrement gratuitement !
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion9" aria-expanded="false" aria-controls="accordion9" class="accordion-title accordionTitle js-accordionTrigger">
                    Puis-je offrir BoogyBook ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion9" aria-hidden="true">
                <p>
                    Bien sûr, c’est un super cadeau !<br /> Pour cela, enregistrez les coordonnées de la personne à laquelle vous offrez BoogyBook, et insérez votre propre carte bancaire.<br /> Votre cadeau arrivera directement chez son destinataire.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

            <dt>
                <a href="#accordion9" aria-expanded="false" aria-controls="accordion9" class="accordion-title accordionTitle js-accordionTrigger">
                        Puis-je parrainer un ami ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion9" aria-hidden="true">
                <p>
                    Sans problème, grâce au coupon de parrainage inclus en fin de chaque BoogyBook.<br /> Comme vous, votre ami bénéficiera de tous les mêmes avantages ! <br /> BoogyBook, c’est la certitude de ne plus jamais perdre ses meilleurs souvenirs
                    !
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->


            <dt>
                <a href="#accordion10" aria-expanded="false" aria-controls="accordion10" class="accordion-title accordionTitle js-accordionTrigger">
                    Que faire si mon BoogyBook ne me parvient pas ?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion10" aria-hidden="true">
                <p>
                    Contactez le service client. Nous interviendrons directement auprès du service fabrication pour qu'il soit réédité et qu'il vous soit expédié dans les meilleurs délais.
                </p>
            </dd>
            <!-- END SINGLE ACCORDION -->

        </dl>
    </div>
</div>