<link rel="stylesheet" href="css/my-account.css">
<div class="mon-compte-block">
    <div class="container">
        <div class="go-back" ui-sref="home">ACCUEIL</div>
        <div class="page-title">
            Mon compte
        </div>
        <div class="page-description">
            Historique de vos commandes :
        </div>
        <table style="width: 100%;" cellspacing="0" cellpadding="0" class="table-data-sheet">
            <tbody>
                <tr>
                    <td>Produit</td>
                    <td>Date</td>
                    <td>Prix total</td>
                    <td>État</td>
                </tr>
                <tr>
                    <td> BoogyBook Classic
                        <div class="reference">KJ27402</div>
                    </td>
                    <td> 29/11/2017 </td>
                    <td> 0,00 € </td>
                    <td>
                        <div class="succes">Paiement accepté</div>
                    </td>
                </tr>
                <tr>
                    <td> BoogyBook Classic
                        <div class="reference">KJ27402</div>
                    </td>
                    <td> 29/11/2017 </td>
                    <td> 0,00 € </td>
                    <td>
                        <div class="error">Paiement refusé</div>
                    </td>
                </tr>
                <tr>
                    <td> BoogyBook Classic
                        <div class="reference">KJ27402</div>
                    </td>
                    <td> 29/11/2017 </td>
                    <td> 0,00 € </td>
                    <td>
                        <div class="succes">Paiement accepté</div>
                    </td>
                </tr>
                <tr>
                    <td> BoogyBook Classic
                        <div class="reference">KJ27402</div>
                    </td>
                    <td> 29/11/2017 </td>
                    <td> 0,00 € </td>
                    <td>
                        <div class="succes">Paiement accepté</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
