<link rel="stylesheet" href="css/my-account.css">
<div class="mon-compte-block">
    <div class="container">
        <div class="go-back" ui-sref="home">ACCUEIL</div>
        <div class="page-title">
            Mon compte
        </div>
        <div class="page-description">
            Historique de vos commandes :
        </div>
        <table style="width: 100%;" cellspacing="0" cellpadding="0" class="table-data-sheet">
            <tbody>
                <tr>
                    <td>Référence</td>
                    <td>Date</td>
                    <td>Prix total</td>
                    <td>État</td>
                </tr>
                <tr ng-repeat="item in userInfos.ordersHistory">
                    <td> {{item.reference}}
                        <!-- <div class="reference">KJ27402</div> -->
                    </td>
                    <td> {{item.date_add}} </td>
                    <td> {{item.total_paid}} € </td>
                    <td>
                        <div ng-if="item.current_state == 18" class="info">	en cours d'impression</div>
                        <div ng-if="item.current_state == 3" class="info">En cours de préparation</div>
                        <div ng-if="item.current_state == 6" class="error">Canceled</div>
                        <div ng-if="item.current_state == 2" class="success">Paiement accepté</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
