<link rel="stylesheet" href="css/my-account.css">
<div class="mon-compte-block">
    <div class="container">
        <div class="go-back" ui-sref="home">{{ 'ACCUEIL' | translate }}</div>
        <div class="page-title">
            {{ 'MY_ACCOUNT' | translate }}
        </div>
        <div class="page-description">
            {{ 'Historique_de_vos_commandes' | translate }} :
        </div>
        <table style="width: 100%;" cellspacing="0" cellpadding="0" class="table-data-sheet">
            <tbody>
                <tr>
                    <td>{{ 'Reference' | translate }}</td>
                    <td>{{ 'Date' | translate }}</td>
                    <td>{{ 'Prix_total' | translate }}</td>
                    <td>{{ 'etat' | translate }}</td>
                </tr>
                <tr ng-repeat="item in userInfos.ordersHistory">
                    <td> {{item.reference}}
                        <!-- <div class="reference">KJ27402</div> -->
                    </td>
                    <td> {{item.date_add}} </td>
                    <td> {{item.total_paid}} € </td>
                    <td>
                        <div ng-if="item.current_state == 18" class="info">	{{ 'en_cours_impression' | translate }}</div>
                        <div ng-if="item.current_state == 3" class="info">{{ 'En_cours_de_preparation' | translate }}</div>
                        <div ng-if="item.current_state == 6" class="error">{{ 'Canceled' | translate }}</div>
                        <div ng-if="item.current_state == 2" class="success">{{ 'Paiement_accepte' | translate }}</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
