<link rel="stylesheet" href="css/detail.css">

<div class="container">
    <div class="go-back-front" ui-sref="home">{{ 'RETOUR' | translate }}</div>
</div>
<div class="details-produit">

    <div class="produit-img">
        <div class="price">{{product.price}} €</div>
        <img src="img/products/{{product.id_product}}.jpg" alt="">
    </div>
    <div class="container">
        <button class="btn-details" ng-click="showDetails()">{{ 'DETAILS' | translate }}</button>
        <button class="btn-creer" ui-sref="mySelection({'type':product.id_product})">{{ 'CREER' | translate }}</button>
        <div class="clearfix"></div>

    </div>

</div>
<div class="details-popup">
    <div class="container">
        <div class="go-back" ng-click="goBack()">{{ 'RETOUR' | translate }}</div>
        <div class="details-popup-inner">
            <div class="product-title">{{product.name}}</div>
            <div class="product-description" ng-bind-html="product.description_short">
            </div>
            <div class="fiche-title">
                {{ 'FICHE_TECHNIQUE' | translate }}
            </div>
            <div class="fiche-description">
                <p>
                    <b>{{ 'DIMENSIONS_DE_CHAQUE_PAGE' | translate }} :</b> {{product.features[1].value}} x {{product.features[0].value}}
                    : un format qui tient dans la poche</p>
                <p>
                    <b>Aspect brillant :</b> vos photos sont plus belles!
                    <br />
                </p>
                <p>Chaque photo est détachable pour offrir, encadrer ou décorer votre intérieur.</p>
            </div>
            <table class="table-data-sheet">
                <tbody>
                    <tr class="odd">
                        <td>{{ 'LONGEUR' | translate }}</td>
                        <td>{{product.features[1].value}}</td>
                    </tr>
                    <tr class="even">
                        <td>{{ 'LARGEUR' | translate }}</td>
                        <td>{{product.features[0].value}}</td>
                    </tr>
                    <tr class="odd">
                        <td>{{ 'POIDS' | translate }}</td>
                        <td>{{product.features[2].value}}</td>
                    </tr>
                    <tr class="even">
                        <td>{{ 'COMPOSITION' | translate }}</td>
                        <td>{{product.features[3].value}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn-creer-detail" ui-sref="mySelection({'type':product.id_product})">{{ 'CREER' | translate }}</button>
        </div>
    </div>

</div>