<link rel="stylesheet" href="css/creation-tool.css">
<div class="creation-tool-block">
  <!-- Boogybook Classic & Not Empty Library -->
  <div class="container" ng-if="tool.size > 0 && config.type == 'Classic'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div ng-if="config.type == 'Classic'" class="numbers">{{tool.size}} / {{config.limit}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.size < config.limit" type="submit" class="btn-continuer" ng-click="submitBoogybook()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.size == config.limit" class="btn-continuer" ng-click="submitBoogybook()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img" ng-repeat="(index, item) in tool.myLibrary track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.size != config.limit" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- BoogyPrime & Not Empty Library -->
  <div class="container" ng-if="tool.sizePrime > 0 && config.type == 'BoogyPrime'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizePrime}} / {{config.limitPrime}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.sizePrime < config.limitPrime" type="submit" class="btn-continuer" ng-click="submitBoogyPrime()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.sizePrime == config.limitPrime" class="btn-continuer" ng-click="submitBoogyPrime()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img-prime" ng-repeat="(index, item) in tool.myLibraryPrime track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.sizePrime != config.limitPrime" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- BoogyBaby & Not Empty Library -->
  <div class="container" ng-if="tool.sizeBaby > 0 && config.type == 'BoogyBaby'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeBaby}} / {{config.limitBaby}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.sizeBaby < config.limitBaby" type="submit" class="btn-continuer" ng-click="submitBoogyBaby()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.sizeBaby == config.limitBaby" class="btn-continuer" ng-click="submitBoogyBaby()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img-prime" ng-repeat="(index, item) in tool.myLibraryBaby track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.sizeBaby != config.limitBaby" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- BoogyBabyXL & Not Empty Library -->
  <div class="container" ng-if="tool.sizeBabyXL > 0 && config.type == 'BoogyBaby XL'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeBabyXL}} / {{config.limitBabyXL}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.sizeBabyXL < config.limitBabyXL" type="submit" class="btn-continuer" ng-click="submitBoogyBabyXL()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.sizeBabyXL == config.limitBabyXL" class="btn-continuer" ng-click="submitBoogyBabyXL()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img" ng-repeat="(index, item) in tool.myLibraryBabyXL track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.sizeBabyXL != config.limitBabyXL" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- BoogyDuo Classic & Not Empty Library -->
  <div class="container" ng-if="tool.sizeDuo > 0 && config.type == 'BoogyDuo'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeDuo}} / {{config.limitDuo}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.sizeDuo < config.limitDuo" type="submit" class="btn-continuer" ng-click="submitBoogyDuo()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.sizeDuo == config.limitDuo" class="btn-continuer" ng-click="submitBoogyDuo()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img" ng-repeat="(index, item) in tool.myLibraryDuo track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.sizeDuo != config.limitDuo" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Notebook & Not Empty Library -->
  <div class="container" ng-if="tool.sizeNote > 0 && config.type == 'BoogyNote'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div ng-if="config.type == 'BoogyNote'" class="numbers">{{tool.sizeNote}} / {{config.limitNote}}</div>
      </div>
      <form method="post" id="myForm" enctype="multipart/form-data">
        <button ng-if="tool.sizeNote < config.limitNote" type="submit" class="btn-continuer" ng-click="submitNotebook()" disabled>{{ 'Continuer' | translate }}</button>
        <button ng-if="tool.sizeNote == config.limitNote" class="btn-continuer" ng-click="submitNotebook()">{{ 'Continuer' | translate }}</button>
      </form>
    </div>
    <div class="creation-tool-body">
      <ul class="list-img">
        <li class="single-img-note" ng-repeat="(index, item) in tool.myLibraryNote track by $index" id="{{item.uid}}-{{index}}">
          <img ng-if="item.cropUrl != ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.cropUrl}}" alt="">
          <img ng-if="item.cropUrl == ''" ng-class='{effect1:item.effect==1,effect2:item.effect==2,effect3:item.effect==3,effect4:item.effect==4}' src="{{item.ratio_link}}" alt="">
          <div class="control-block">
            <div class="control-inner-block">
              <div ng-click="deleteItem(index, config.type)" class="delete"></div>
              <div ng-click="editItem(index, config.type)" class="edit"></div>
              <div ng-if="tool.sizeNote != config.limitNote" ng-click="duplicateItem(index, config.type)" class="duplicate"></div>
            </div>
          </div>
          <input type="text" name="" value="" class="item-text" ng-model="item.text" ng-change="croptChangeText(index)">
        </li>
      </ul>
    </div>
  </div>
  <!-- BoogyPrime Classic & Empty Library -->
  <div class="container" ng-if="tool.sizePrime == 0 && config.type == 'BoogyPrime'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizePrime}} / {{config.limitPrime}}</div>
      </div>
      <button ng-if="tool.sizePrime < config.limitPrime" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.sizePrime == config.limitPrime" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.sizePrime < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitPrime - tool.sizePrime}}/{{config.limitPrime}})</span></button>
        <button ng-if="tool.sizePrime == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitPrime - tool.sizePrime}}/{{config.limitPrime}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>
  <!-- BoogyBaby Classic & Empty Library -->
  <div class="container" ng-if="tool.sizeBaby == 0 && config.type == 'BoogyBaby'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeBaby}} / {{config.limitBaby}}</div>
      </div>
      <button ng-if="tool.sizeBaby < config.limitBaby" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.sizeBaby == config.limitBaby" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.sizeBaby < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitBaby - tool.sizeBaby}}/{{config.limitBaby}})</span></button>
        <button ng-if="tool.sizeBaby == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitBaby - tool.sizeBaby}}/{{config.limitBaby}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>
  <!-- BoogyBabyXL Classic & Empty Library -->
  <div class="container" ng-if="tool.sizeBabyXL == 0 && config.type == 'BoogyBaby XL'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeBabyXL}} / {{config.limitBabyXL}}</div>
      </div>
      <button ng-if="tool.sizeBabyXL < config.limitBabyXL" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.sizeBabyXL == config.limitBabyXL" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.sizeBabyXL < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitBabyXL - tool.sizeBabyXL}}/{{config.limitBabyXL}})</span></button>
        <button ng-if="tool.sizeBabyXL == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitBabyXL - tool.sizeBabyXL}}/{{config.limitBabyXL}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>
  <!-- Boogybook Classic & Empty Library -->
  <div class="container" ng-if="tool.size == 0 && config.type == 'Classic'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.size}} / {{config.limit}}</div>
      </div>
      <button ng-if="tool.size < config.limit" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.size == config.limit" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.size < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limit - tool.size}}/{{config.limit}})</span></button>
        <button ng-if="tool.size == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limit - tool.size}}/{{config.limit}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>
  <!-- Notebook Classic & Empty Library -->
  <div class="container" ng-if="tool.sizeNote == 0 && config.type == 'BoogyNote'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</button></div>
        <div class="numbers">{{tool.sizeNote}} / {{config.limitNote}}</div>
      </div>
      <button ng-if="tool.sizeNote < config.limitNote" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.sizeNote == config.limitNote" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.sizeNote < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitNote - tool.sizeNote}}/{{config.limitNote}})</span></button>
        <button ng-if="tool.sizeNote == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitNote - tool.sizeNote}}/{{config.limitNote}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>

  <!-- BoogyDuo & Empty Library -->
  <div class="container" ng-if="tool.sizeDuo == 0 && config.type == 'BoogyDuo'">
    <div class="controls">
      <button class="btn-retour" ng-click="backToDetails()">{{ 'RETOUR' | translate }}</button>
      <div class="selected-img">
        <div class="text">{{ 'Images_selectionnees' | translate }}</div>
        <div class="numbers">{{tool.sizeDuo}} / {{config.limitDuo}}</div>
      </div>
      <button ng-if="tool.sizeDuo < config.limitNote" class="btn-continuer" disabled>{{ 'Continuer' | translate }}</button>
      <button ng-if="tool.sizeDuo == config.limitNote" class="btn-continuer">{{ 'Continuer' | translate }}</button>
    </div>
    <div class="creation-tool-body">
      <div class="upload-btn-wrapper">
        <button ng-if="tool.sizeDuo < 60" class="btn-upload" ng-click="triggerInputFile()"><span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitDuo - tool.sizeDuo}}/{{config.limitDuo}})</span></button>
        <button ng-if="tool.sizeDuo == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                        <span>{{ 'telecharger_depuis_mobile' | translate }}<br />({{config.limitDuo - tool.sizeDuo}}/{{config.limitDuo}})</span></button>
        <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
      </div>
    </div>
  </div>
</div>

<div class="creation-tool-nav">
  <ul ng-if="tool.size > 0 && config.type == 'Classic'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
  <ul ng-if="tool.sizeNote > 0 && config.type == 'BoogyNote'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
  <ul ng-if="tool.sizeDuo > 0 && config.type == 'BoogyDuo'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
  <ul ng-if="tool.sizePrime > 0 && config.type == 'BoogyPrime'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
  <ul ng-if="tool.sizeBaby > 0 && config.type == 'BoogyBaby'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
  <ul ng-if="tool.sizeBabyXL > 0 && config.type == 'BoogyBabyXL'">
    <li>{{ 'Mon_Album' | translate }}</li>
    <li ng-click="cleanStorage(config.type)">{{ 'Vider_ma_biblio' | translate }}</li>
    <li>Importer des photos depuis Facebook</li>
    <li>Importer des photos depuis Instagram</li>
  </ul>
</div>
<!-- Boogybook Classic & Add Picture -->
<button ng-if="tool.size < 60 && tool.size > 0 && config.type == 'Classic'" class="bnt-add-picture" ng-click="triggerInputFile()">
        <img src="img/add-picture.svg" alt="">
    </button>
<!-- BoogyBaby Classic & Add Picture -->
<button ng-if="tool.sizeBaby < 30 && tool.sizeBaby > 0 && config.type == 'BoogyBaby'" class="bnt-add-picture" ng-click="triggerInputFile()">
            <img src="img/add-picture.svg" alt="">
        </button>
<!-- Boogybook Classic & Add Picture -->
<button ng-if="tool.sizeBabyXL< 60 && tool.sizeBabyXL > 0 && config.type == 'BoogyBaby XL'" class="bnt-add-picture" ng-click="triggerInputFile()">
                <img src="img/add-picture.svg" alt="">
            </button>
<!-- Notebook & Add Picture -->
<button ng-if="tool.sizeNote < 30 && tool.sizeNote > 0 && config.type == 'BoogyNote'" class="bnt-add-picture" ng-click="triggerInputFile()">
        <img src="img/add-picture.svg" alt="">
    </button>
<!-- BoogyDuo & Add Picture -->
<button ng-if="tool.sizeDuo < 60 && tool.sizeDuo > 0 && config.type == 'BoogyDuo'" class="bnt-add-picture" ng-click="triggerInputFile()">
            <img src="img/add-picture.svg" alt="">
        </button>
<!-- BoogyPrime & Add Picture -->
<button ng-if="tool.sizePrime < 30 && tool.sizePrime > 0 && config.type == 'BoogyPrime'" class="bnt-add-picture" ng-click="triggerInputFile()">
                    <img src="img/add-picture.svg" alt="">
                </button>
<input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
<div class="upload-progress">
  <div class="counter">
    {{ 'Merci_de_patienter' | translate }}<br/>
    <span>
                <span id="loadingProgress">0</span>% {{ 'en_cours' | translate }}...</span>
  </div>
</div>

<div class="upload-progress-creation">
    <div class="counter-img">
      <img src="img/loading.gif" alt=""><br/>
      <br/> {{ 'Merci_de_patienter' | translate }}
    </div>
  </div>


