<link rel="stylesheet" href="css/creation-tool.css">
<div class="creation-tool-block">
    <div class="container" ng-if="tool.size > 0">
        <div class="controls">
            <button class="btn-retour" ng-click="backToDetails()">Retour</button>
            <div class="selected-img">
                <div class="text">Images séléctionnées</div>
                <div class="numbers">{{tool.size}} / {{config.limit}}</div>
            </div>
            <form method="post" id="myForm" enctype="multipart/form-data">
                <button ng-if="tool.size < config.limit" type="submit" class="btn-continuer" ng-click="submitBoogybook()" disabled>Continuer</button>
                <button ng-if="tool.size == config.limit" class="btn-continuer" ng-click="submitBoogybook()">Continuer</button>
            </form>
        </div>
        <div class="creation-tool-body">
            <ul class="list-img">
                <li class="single-img" ng-repeat="(index, item) in tool.myLibrary track by $index" id="{{item.uid}}-{{index}}">
                    <img ng-if="item.cropUrl != ''" src="{{item.cropUrl}}" alt="">
                    <img ng-if="item.cropUrl == ''" src="{{item.ratio_link}}" alt="">
                    <div class="control-block">
                        <div class="control-inner-block">
                            <div ng-click="deleteItem(index)" class="delete"></div>
                            <div ng-click="editItem(index)" class="edit"></div>
                            <div ng-if="tool.size != config.limit" ng-click="duplicateItem(index)" class="duplicate"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" ng-if="tool.size == 0">
        <div class="controls">
            <button class="btn-retour" ng-click="backToDetails()">Retour</button>
            <div class="selected-img">
                <div class="text">Images séléctionnées</div>
                <div class="numbers">{{tool.size}} / {{config.limit}}</div>
            </div>
            <button ng-if="tool.size < config.limit" class="btn-continuer" disabled>Continuer</button>
            <button ng-if="tool.size == config.limit" class="btn-continuer">Continuer</button>
        </div>

       <div class="creation-tool-body">
            <div class="upload-btn-wrapper">
                <button ng-if="tool.size < 60" class="btn-upload" ng-click="triggerInputFile()"><span>télécharger depuis mobile<br />({{config.limit - tool.size}}/{{config.limit}})</span></button>
                <button ng-if="tool.size == 60" class="btn-upload" ng-click="triggerInputFile()" disabled>
                    <span>télécharger depuis mobile<br />({{config.limit - tool.size}}/{{config.limit}})</span></button>
                <input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
            </div>
        </div>
   </div>
</div>

<div class="creation-tool-nav">
    <ul>
        <li>Mon Album</li>
        <li ng-click="cleanStorage()">Vider ma biblio</li>
        <li>Importer des photos depuis Facebook</li>
        <li>Importer des photos depuis Instagram</li>
    </ul>
</div>

<button ng-if="tool.size < 60 && tool.size > 0" class="bnt-add-picture" ng-click="triggerInputFile()">
    <img src="img/add-picture.svg" alt="">
</button>
<input type="file" style="display:none;" multiple accept="image/*" name[]="images" id="images" onchange="angular.element(this).scope().loadLocalImages(this)" />
<div class="upload-progress">
    <div class="counter">
        Merci de patienter<br/>
        <span>
          <span id="loadingProgress">0</span>% en cours...</span>
    </div>
</div>
