<link rel="stylesheet" href="css/creation-tool.css">
<div class="creation-tool-block">
    <div class="container">
        <div class="controls">
            <button class="btn-retour" ng-click="backToDetails()">Retour</button>
            <div class="selected-img">
                <div class="text">Images séléctionnées</div>
                <div class="numbers">{{tool.size}} / {{config.limit}}</div>
            </div>
            <button ng-if="tool.size < config.limit" class="btn-continuer" disabled>Continuer</button>
            <button ng-if="tool.size == config.limit" class="btn-continuer">Continuer</button>
        </div>
        <div class="creation-tool-body">
            <ul class="list-img">
                <li class="single-img" ng-repeat="(index, item) in tool.myLibrary track by $index">
                    <img ng-if="item.cropUrl != ''" src="{{item.cropUrl}}" alt="">
                    <img ng-if="item.cropUrl == ''" src="{{item.ratio_link}}" alt="">
                    <div class="control-block">
                        <div class="control-inner-block">
                            <div ng-click="deleteItem(index)" class="delete"></div>
                            <div ng-click="editItem(index)" class="edit"></div>
                            <div ng-if="tool.size != config.limit" ng-click="duplicateItem(index)" class="duplicate"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="creation-tool-nav">
    <ul>
        <li class="active">Mon Album</li>
        <li ui-sref="upload">Ajouter des photos</li>
        <li>Importer des photos depuis Facebook</li>
        <li>Importer des photos depuis Instagram</li>
    </ul>
</div>

<button class="bnt-add-picture" ui-sref="upload">
    <img src="img/add-picture.svg" alt="">
</button>

<button class="btn-clear" ng-click="cleanStorage()">
        <img src="img/delete.svg" alt="">
        
</button>