<link rel="stylesheet" href="css/cropper.css">
<link rel="stylesheet" href="css/init-cropper.css">
<link rel="stylesheet" href="css/creation-tool.css">
<div class="creation-tool-block">
  <div class="container">
    <div class="controls">
      <button class="btn-retour" ng-click="backToSelection('BoogyNote')">{{ 'RETOUR' | translate }}</button>
    </div>

    <div class="creation-tool-body crop-tool filtre-tool">
      <div class="container">

        <div class="img-container">
          <img id="image" style="display: none;" src="{{tool.myLibraryNote[tool.cropIndex].server_link}}" alt="Picture">
        </div>

        <div class="docs-buttons">
          <div class="filter-group">
            <button class="filter-btn" id="filter-1" ng-click="addEffect(1)"><img src="img/filter_1.png" alt=""></button>
            <button class="filter-btn" id="filter-2" ng-click="addEffect(2)"><img src="img/filter_2.png" alt=""></button>
            <button class="filter-btn" id="filter-3" ng-click="addEffect(3)"><img src="img/filter_3.png" alt=""></button>
            <button class="filter-btn" id="filter-4" ng-click="addEffect(4)"><img src="img/filter_4.png" alt=""></button>
          </div>
          <div class="btn-group-bottom">
            <button type="button" class="btn btn-primary btn-left" data-method="crop" title="Crop">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" ng-click="saveCrop()">
                                <span class="fa fa-check"></span>
                            </span>
                        </button>
            <button type="button" class="btn btn-primary btn-right" data-method="clear" title="Clear">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" ng-click="resetCrop()">
                                <span class="fa fa-remove"></span>
                            </span>
                        </button>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>

    </div>
  </div>
  <div class="crop-tool-nav">
    <ul>
      <li ui-sref="note-crop-tool({'index':tool.cropIndex, 'type': config.type})">{{ 'Recadrage' | translate }}</li>
      <li ui-sref="note-text-tool({'index':tool.cropIndex, 'type': config.type})">{{ 'Texte' | translate }}</li>
      <li class="active">{{ 'filtres' | translate }}</li>
    </ul>
  </div>

  <button class="shopping-cart">
            <img src="img/shopping-bag.svg" alt="">
            <div class="counter">0</div>
        </button>

  <div class="overlay"></div>
