<link rel="stylesheet" href="css/cart.css">
<script src="js/lib/jquery.easydropdown.js"></script>
<script src="js/cart.js"></script>
<div class="cart-block">
  <div class="container">
    <div class="go-back" ui-sref="cart_recap">Continuer mes achats</div>
    <div class="cart-inner-block">
      <div class="cart-steps-block">

        <div class="cart-step-text">MODIFIER VOTRE ADRESSE</div>
      </div>
      <div class="inscription-block">
        <form id="update_address" name="update_address" ng-submit="updateAddressSubmitForm(update_address.$valid)" novalidate>
          <div class="form-group2 nom">
            <input type="text" class="input-text2 lettersonly" ng-minlength="3" ng-maxlength="15" ng-model="addressUpdate.lastname" name="last_name" placeholder="Nom" required>
            <p ng-show="update_address.last_name.$invalid && !update_address.last_name.$pristine" class="help-block">Votre nom est invalide.</p>
          </div>
          <div class="form-group2 prenom">
            <input type="text" class="input-text2 lettersonly" ng-minlength="3" ng-maxlength="15" ng-model="addressUpdate.firstname" name="first_name" placeholder="Prenom" required>
            <p ng-show="update_address.first_name.$invalid && !update_address.first_name.$pristine" class="help-block">Votre prénom est invalide.</p>
          </div>
          <div class="form-group2 societe">
            <input type="text" class="input-text2" ng-minlength="3" ng-maxlength="15" name="company" ng-model="addressUpdate.company" placeholder="Societé" required>
            <p ng-show="update_address.company.$invalid && !update_address.company.$pristine" class="help-block">Le nom de la société est invalide.</p>
          </div>
          <div class="form-group2 adresse">
            <input type="text" class="input-text2" name="address" ng-minlength="5" ng-maxlength="15" ng-model="addressUpdate.address1" placeholder="Adresse" required>
            <p ng-show="update_address.address.$invalid && !update_address.address.$pristine" class="help-block">Votre addresse invalide.</p>
          </div>
          <div class="form-group2 adresse2">
            <input type="text" class="input-text2" ng-minlength="5" ng-maxlength="15" ng-model="addressUpdate.address2" placeholder="Adresse (2)">
          </div>
          <div class="form-group2 codepostal">
            <input type="text" class="input-text2" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" name="postcode" ng-model="addressUpdate.postcode" placeholder="Code postal" required>
            <p ng-show="update_address.postcode.$invalid && !update_address.postcode.$pristine" class="help-block">Votre addresse invalide.</p>
          </div>
          <div class="form-group2 ville">
            <input type="text" class="input-text2" ng-minlength="3" ng-maxlength="15" name="city" ng-model="addressUpdate.city" placeholder="Ville" required>
            <p ng-show="update_address.city.$invalid && !update_address.city.$pristine" class="help-block">Votre ville invalide.</p>
          </div>
          <div class="form-group2 pays">
            <select name="langue-select" id="langue-select" class="dropdown">
                <option value="{{item.id}}" ng-repeat="item in countries">{{item.name[0].value}}</option>
            </select>
          </div>
          <div class="form-group2 telephone-fixe">
            <input type="text" class="input-text2" ng-model="addressUpdate.phone_mobile" placeholder="Téléphone fixe" required>
          </div>
          <div class="form-group2 telephone-mobile">
            <input type="text" class="input-text2" ng-model="addressUpdate.phone" placeholder="Téléphone mobile" required>
          </div>
          <br /><br />
          <div class="form-group2 adresse-name">
            <label for="">Donnez un titre à cette adresse pour la retrouver plus facilement</label>
            <input type="text" class="input-text2" ng-model="newAddress.alias" placeholder="Mon adresse" required>
          </div>
          <button type="submit" class="btn-save">Enregister</button>
        </form>
      </div>


    </div>
  </div>
</div>
<div class="upload-progress" ng-show="!cartLoaded">
  <div class="counter">
    <img class="counter-img" src="img/loading.gif" alt=""><br/>
    <br/> Merci de patienter
  </div>
</div>
