<link rel="stylesheet" href="css/cart.css">
<script src="js/cart.js"></script>
<div class="cart-block">
    <div class="container">
        <div class="go-back">Continuer mes achats</div>
        <div class="cart-inner-block">
            <div class="cart-steps-block">

                <div class="cart-step-text">AJOUTER UNE NOUVELLE ADRESSE</div>
            </div>
            <div class="inscription-block">
                <form action="#" method="POST" id="inscription-form" novalidate>

                    <div class="form-group2 nom">
                        <input type="text" class="input-text2 lettersonly" placeholder="Nom" required>
                    </div>
                    <div class="form-group2 prenom">
                        <input type="text" class="input-text2 lettersonly" placeholder="Prenom" required>
                    </div>
                    <div class="form-group2 societe">
                        <input type="text" class="input-text2" placeholder="Societé" required>
                    </div>
                    <div class="form-group2 adresse">
                        <input type="text" class="input-text2" placeholder="Adresse" required>
                    </div>
                    <div class="form-group2 adresse2">
                        <input type="text" class="input-text2" placeholder="Adresse (2)" required>
                    </div>
                    <div class="form-group2 codepostal">
                        <input type="text" class="input-text2" placeholder="Code postal" required>
                    </div>
                    <div class="form-group2 ville">
                        <input type="text" class="input-text2" placeholder="Ville" required>
                    </div>
                    <div class="form-group2 pays">
                        <input type="text" class="input-text2" placeholder="Pays" required>
                    </div>
                    <div class="form-group2 telephone-fixe">
                        <input type="text" class="input-text2" placeholder="Téléphone fixe" required>
                    </div>
                    <div class="form-group2 telephone-mobile">
                        <input type="text" class="input-text2" placeholder="Téléphone mobile" required>
                    </div>
                    <br /><br />
                    <div class="form-group2 adresse-name">
                        <label for="">Donnez un titre à cette adresse pour la retrouver plus facilement</label>
                        <input type="text" class="input-text2" placeholder="Mon adresse" required>
                    </div>
                    <button type="submit" class="btn-save">Enregister</button>
                </form>
            </div>


        </div>
    </div>
</div>