<div class="cart-block">
    <div class="container">
        <div class="go-back">Continuer mes achats</div>
        <div class="cart-inner-block">
            <div class="cart-steps-block">
                <div class="cart-steps">
                    <div class="step">1</div>
                    <div class="step active">2</div>
                    <div class="step">3</div>
                    <div class="step">4</div>
                    <div class="step">5</div>
                    <div class="clearfix"></div>
                </div>
                <div class="cart-step-text">02. INSCRIPTION</div>
            </div>
            <div class="inscription-block">
                <form action="#" method="POST" id="inscription-form" novalidate>
                    <div class="form-group2 civilite">
                        <label for="">Titre</label>
                        <div class="clearfix"></div>
                        <div class="radio" id="homme">
                            <input id="radio-1" name="radio" type="radio" value="m" required>
                            <label for="radio-1" class="radio-label">M</label>
                        </div>
                        <div class="radio" id="femme">
                            <input id="radio-2" name="radio" type="radio" value="mme" required>
                            <label for="radio-2" class="radio-label">Mme</label>
                        </div>
                    </div>
                    <div class="form-group2 nom">
                        <input type="text" class="input-text2 lettersonly" placeholder="Nom" required>
                    </div>
                    <div class="form-group2 prenom">
                        <input type="text" class="input-text2 lettersonly" placeholder="Prenom" required>
                    </div>
                    <div class="form-group2 email">
                        <input type="text" class="input-text2" placeholder="Adresse e-mail" required>
                    </div>
                    <div class="form-group2 password">
                        <input type="password" class="input-text2" placeholder="Mot de passe" required>
                    </div>
                    <div class="form-group2 date-naissance">
                        <input type="date" class="input-text2 numbersonly" placeholder="Date de naissance" required>
                    </div>
                    <div class="form-group2 newsletter-checkbox">
                        <input id="newsletter" type="checkbox" name="newsletter" value="newsletter">
                        <label for="newsletter">S'inscrire à la newsletter </label>
                    </div>

                    <div class="form-group2 offres-checkbox">
                        <input id="offres" type="checkbox" name="offres" value="offres">
                        <label for="offres">Recevez les offres spéciales de nos partenaires  </label>
                        <div class="clearfix"></div>
                    </div>
                    <button type="submit" class="btn-inscription">S'inscrire</button>
                </form>
            </div>


        </div>
    </div>
</div>