<link rel="stylesheet" href="css/cart.css">
<div class="cart-block">
    <div class="container">
        <div class="go-back">Continuer mes achats</div>
        <div class="cart-inner-block">
            <div class="cart-steps-block">
                <div class="cart-steps">
                    <div class="step">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                    <div class="step active">4</div>
                    <div class="step">5</div>
                    <div class="clearfix"></div>
                </div>
                <div class="cart-step-text">04. LIVRAISON</div>
            </div>
            <div class="shipping-block">
                <div class="shipping-txt">Choisissez une option de livraison pour l'adresse : test </div>

                <div class="shipping-mode">
                    <div class="top">
                        <div class="shipping-mode-img">
                            <img src="img/camion.png" alt="La Poste">
                        </div>
                    </div>
                    <div class="middle">
                        <div class="shipping-mode-title">La Poste</div>
                        <div class="shipping-mode-desc">Délai de livraison : Production 8 j + Poste </div>
                        <div class="shipping-mode-price">4,95 € TTC</div>
                    </div>
                    <div class="bottom">
                        <div class="form-group4">
                            <div class="radio">
                                <input id="radio-1" name="radio" type="radio" value="m" checked>
                                <label for="radio-1" class="radio-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group5 condition-checkbox">
                    <input id="adresse-checkbox" type="checkbox" name="adresse-checkbox" value="adresse-checkbox">
                    <label for="adresse-checkbox">J'ai lu les conditions générales de vente et j'y adhère <br />
                            sans réserve. <a href="#" class="blue-link">(Lire les Conditions générales de vente)</a>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="btn-commander">
                    Commander
                </div>
            </div>


        </div>
    </div>
</div>